.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 13.7vw);
  grid-column-gap: 1.67vw;
  grid-template-rows: repeat(9, 8.4vh);
  grid-row-gap: 0.98vh;
}
.button-wrapper{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  justify-self: center;
}
.button-wrapper2{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
